@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #165bd4;
$primary-dark-color: darken($primary-color, 10);
$success-color: #689f38;
$warning-color: #fbc02d;
$danger-color: #d32f2f;

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
}

#app {
  height: 100%;
}

.spacer {
  flex-grow: 1 !important;
}

.p-success {
  border-color: $success-color !important;
}
